@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #EA580C;
    --secondary: #0891B2;
    --tertiary: #16A34A;
    --quaternary: #7C3AED;
    --quinary: #E11D48;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

@font-face {
  font-family: "Clicker-Script";
  src: url("./fonts/ClickerScript-Regular.ttf")
}
